.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 5vh 0;
  font-size: 1rem;
  h4 {
    padding: 1vh 0 1vh 0;
    font-size: 1.25rem;
  }

  h5{
    padding: 2px 0;
    font-size: 1rem;
  }

  &__laterButton {
    border: 1px solid white;
    margin-left: 10px;
  }

  .buttons {
    display: flex;
    justify-content:flex-start;
  }
}
