.navbar {

  &__list {
    display: flex;
    width: 100%;
  }
}

#rightSideOfNav {
  display: flex;
  margin-left: auto;
}

@media (max-width: 991px) {
  #rightSideOfNav {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }
}
