<app-navbar></app-navbar>
<div *ngIf="diaryData" [@fadeIn]>
    <div class="diary">
        <table class="table diary__nutrients-table table-dark ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kcal</th>
                <th scope="col">Protein</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fat</th>
                <th scope="col">Fiber</th>
            </thead>
            <tbody>
            <tr>
                <th class="bold-column">Sum kcal</th>
                <td>{{ diaryData.sumNutrients.kcal}}</td>
                <td>{{ diaryData.sumNutrients.proteinGrams }}</td>
                <td>{{ diaryData.sumNutrients.carbohydratesGrams }}</td>
                <td>{{ diaryData.sumNutrients.fatGrams }}</td>
                <td>{{ diaryData.sumNutrients.fiberGrams }}</td>
            </tr>
            <tr>
                <th class="bold-column">Your daily goal</th>
              <td>{{ diaryData.goalNutrients.kcal}}</td>
              <td>{{ diaryData.goalNutrients.proteinGrams }}</td>
              <td>{{ diaryData.goalNutrients.carbohydratesGrams }}</td>
              <td>{{ diaryData.goalNutrients.fatGrams }}</td>
              <td>{{ diaryData.goalNutrients.fiberGrams }}</td>
            </tr>
            <tr>
                <th class="bold-column">Remaining</th>
              <td>{{ diaryData.leftNutrients.kcal}}</td>
              <td>{{ diaryData.leftNutrients.proteinGrams }}</td>
              <td>{{ diaryData.leftNutrients.carbohydratesGrams }}</td>
              <td>{{ diaryData.leftNutrients.fatGrams }}</td>
              <td>{{ diaryData.leftNutrients.fiberGrams }}</td>
            </tr>
            </tbody>
        </table>
      <p class="kcalLeft" >You have additional {{diaryData.kcalBurned}} kcal from workouts*</p>

        <table class="table diary__table table-dark  " id="tableCustom">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Measure</th>
                <th scope="col">Kcal</th>
                <th scope="col">Protein</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fat</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Product Info</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of diaryData.ingredients" id="{{product.id}}">
                <td><img class="diary__listImg" src="{{ product.image }}" alt="{{ product.name }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.currentlyUsedMeasureName }}</td>
                <td>{{ product.nutrients.kcal }}</td>
                <td>{{ product.nutrients.proteinGrams }}</td>
                <td>{{ product.nutrients.carbohydratesGrams }}</td>
                <td>{{ product.nutrients.fatGrams }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#productModal' + product.id">
                        Edit
                    </button>
                    <div class="modal fade" id="ProductModal" [id]="'productModal' + product.id" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="imgContainer">
                                        <img [src]="product.image" class="card-img-top image" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <table class="table nestedTable">
                                            <thead>
                                            <tr>
                                                <th scope="col">Kcal</th>
                                                <th scope="col">Protein</th>
                                                <th scope="col">Carbs</th>
                                                <th scope="col">Fat</th>
                                                <th scope="col">Fiber</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ product.nutrients.kcal }}</td>
                                                <td>{{ product.nutrients.proteinGrams }}</td>
                                                <td>{{product.nutrients.carbohydratesGrams}}</td>
                                                <td>{{ product.nutrients.fatGrams }}</td>
                                                <td>{{ product.nutrients.fiberGrams }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="mb-3">
                                        <label>Select Measure:</label>
                                        <select class="form-select" [(ngModel)]="selectedMeasure"
                                                aria-label="Select Measure:">
                                            <option *ngFor="let measure of product.measures"
                                                    [value]="measure.label"> {{ measure.label }}
                                                - {{measure.weight}} Gram
                                            </option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label>Quantity:</label>
                                        <input type="number" class="form-control" [(ngModel)]="selectedQuantity"
                                               placeholder="Enter quantity"
                                               step="0.1" min="0" pattern="\d+(\.\d{1})?">
                                    </div>

                                    <div class="modal-footer">
                                        <div *ngIf="EditProductError"
                                             class="text-danger mb-3">{{ EditProductError }}</div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" id="addButton" class="btn btn-primary"
                                                [disabled]="!selectedQuantity || !selectedMeasure"
                                                data-bs-dismiss="modal"
                                                (click)="editProduct(product.id)">Add product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" (click)=deleteProduct(product.id)>Delete
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#productModal2' + product.id">
                        Info
                    </button>
                    <div class="modal fade" id="ProductModal2" [id]="'productModal2' + product.id" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">{{ product.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="imgContainer">
                                        <img [src]="product.image" class="card-img-top image" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <table class="table nestedTable">
                                            <thead>
                                            <tr>
                                                <th scope="col">Kcal</th>
                                                <th scope="col">Protein</th>
                                                <th scope="col">Carbs</th>
                                                <th scope="col">Fat</th>
                                                <th scope="col">Fiber</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ product.nutrients.kcal }}</td>
                                                <td>{{product.nutrients.proteinGrams }}</td>
                                                <td>{{product.nutrients.carbohydratesGrams}}</td>
                                                <td>{{product.nutrients.fatGrams }}</td>
                                                <td>{{ product.nutrients.fiberGrams }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <table class="table nestedTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Measure</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.currentlyUsedMeasureName }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="buttons">
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                                [attr.data-bs-target]="'#productModal3' + product.id">
                                            Edit
                                        </button>

                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                                (click)=deleteProduct(product.id)>Delete
                                        </button>
                                    </div>


                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="ProductModal3" [id]="'productModal3' + product.id" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel3">{{ product.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="imgContainer">
                                        <img [src]="product.image" class="card-img-top image" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <table class="table nestedTable">
                                            <thead>
                                            <tr>
                                                <th scope="col">Kcal</th>
                                                <th scope="col">Protein</th>
                                                <th scope="col">Carbs</th>
                                                <th scope="col">Fat</th>
                                                <th scope="col">Fiber</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ product.nutrients.kcal }}</td>
                                                <td>{{product.nutrients.proteinGrams }}</td>
                                                <td>{{product.nutrients.carbohydratesGrams}}</td>
                                                <td>{{product.nutrients.fatGrams}}</td>
                                                <td>{{ product.nutrients.fiberGrams }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>


                                    <div class="mb-3">
                                        <label>Select Measure:</label>
                                        <select class="form-select" [(ngModel)]="selectedMeasure"
                                                aria-label="Select Measure:">
                                            <option *ngFor="let measure of product.measures"
                                                    [value]="measure.label"> {{ measure.label }}
                                                - {{measure.weight}} Gram
                                            </option>
                                        </select>


                                    </div>

                                    <div class="mb-3">
                                        <label>Quantity:</label>
                                        <input type="number" class="form-control" [(ngModel)]="selectedQuantity"
                                               placeholder="Enter quantity"
                                               step="0.1" min="0" pattern="\d+(\.\d{1})?">
                                    </div>

                                    <div class="modal-footer">
                                        <div *ngIf="EditProductError"
                                             class="text-danger mb-3">{{ EditProductError }}</div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                [disabled]="!selectedQuantity || !selectedMeasure"
                                                data-bs-dismiss="modal"
                                                (click)="editProduct(product.id)">Add product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
            <button type="button" class="btn btn-success" (click)="goToProducts()">Add new product</button>

        </table>

    </div>
</div>


