h2 {
  align-self: flex-start;
  margin-left: 15vw;
  margin-top: 5vh;
  padding: 1vh 0;
}

.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__nutrients {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding: 2vh 0;
  }

  &__productList {
    align-self: flex-start;
    margin-left: 15vw;
    padding: 0 1vw;
    width: 50vw;
    li {
      padding: 1vh 0;
      color: black;

    }
  }

  &__listImg {
    width: 50px;
    max-width: 700px;
  }

  &__newProductRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding-bottom: 2vh;
    h2{
      margin: 0;
    }
  }

}

.imgContainer {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .image {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}




/* Media query for screens wider than 1000px */
@media screen and (min-width: 1001px) {
  /* Hide the last column */
  .table th:last-child,
  .table td:last-child {
    display: none;
  }
}

/* Media query for screens up to 1000px */
@media screen and (max-width: 1000px) {
  /* Show only the first, second, and last columns */
  .table th:nth-child(1),
  .table td:nth-child(1),
  .table th:nth-child(2),
  .table td:nth-child(2),
  .table th:last-child,
  .table td:last-child {
    display: table-cell;
  }

  /* Hide other columns */
  .table th:not(:nth-child(1)):not(:nth-child(2)):not(:last-child),
  .table td:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
    display: none;
  }
}

