<div class="success_wrapper" [@fadeIn]>
  <div class="card bg-dark success_wrapper__card">
    <div class="card-header ">
      Success!
    </div>
    <div class="card-body body">
      <h5 class="card-title">Payment successful!</h5>
      <mat-icon color="accent" class="icon">check_circle_outline</mat-icon>
      <p class="card-text" style="color: white; margin: 0 auto 20px auto">You will be redirected in {{ countdown }} seconds...</p>
      <button class="btn btn-success button" (click)="skipCountdown()">Skip ahead immediately</button>
    </div>
  </div>
</div>
