<app-navbar></app-navbar>
<div class="goalContainer" [@fadeIn]>
  <div *ngIf="goalData" class="goalContainer__nutrients">

    <table class="table diary__nutrients-table table-dark ">
      <thead>
      <tr>
        <th scope="col">Kcal goal</th>
        <th scope="col">Protein goal</th>
        <th scope="col">Carbs goal</th>
        <th scope="col">Fat goal</th>
        <th scope="col">Fiber goal</th>
      </thead>
      <tbody>
      <tr>
        <td>{{ goalData.kcalGoal }}</td>
        <td>{{ goalData.proteinInGram }}</td>
        <td>{{ goalData.carbohydratesInGram }}</td>
        <td>{{ goalData.fatInGram }}</td>
        <td>{{ goalData.fiberInGram }}</td>
      </tr>
      </tbody>
    </table>


  <div class="mb-3 form goalContainer__form">
    <form (ngSubmit)="setGoals()" [formGroup]="setGoalsForm">
      <div class="mb-3">
        <label for="kcal" class="form-label">Calories</label>
        <input type="text" class="form-control" id="kcal" formControlName="kcal">
      </div>

      <div class="mb-3">
        <label for="proteinPercentage" class="form-label">Protein %</label>
        <input type="text" class="form-control" id="proteinPercentage" formControlName="proteinPercentage">
      </div>

      <div class="mb-3">
        <label for="carbohydratesPercentage" class="form-label">Carbs %</label>
        <input type="text" class="form-control" id="carbohydratesPercentage" formControlName="carbohydratesPercentage">
      </div>

      <div class="mb-3">
        <label for="fatPercentage" class="form-label">Fat %</label>
        <input type="text" class="form-control" id="fatPercentage" formControlName="fatPercentage">
      </div>

      <div *ngIf="setGoalsFormError" class="text-danger mb-3">{{ setGoalsFormError }}</div>
      <button type="submit" class="btn btn-primary">Set goal</button>
    </form>
  </div>
</div>

</div>

