.goalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nutrients {
    display: flex;
    flex-direction: column;
    p{
      padding: 1vh 0;
    }
  }

  &__form {
    border: 1px solid black;
  }

  &__calculateForm {
    border: 1px solid black;
  }

  .disabledForm {
    opacity: 0.5;
  }

  .disabledButton {
    opacity: 0;
  }

}
