<app-navbar></app-navbar>
<div class="mb-3  products">

  <form (ngSubmit)="searchProducts()" [formGroup]="searchProductsForm" class="products__search">
    <div class="mb-3">
      <label for="name" class="form-label">Search</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="product name">
      <div *ngIf="searchProductsFormError" class="text-danger mb-3">{{ searchProductsFormError }}</div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>


  <div class="products__listContainer">
    <ul class="products__list">
      <app-product *ngFor="let product of products" [thisProduct]="product"></app-product>

    </ul>
  </div>
</div>
