/* product.component.css */
section {
  text-align: center;
  margin: 20px;
}

.product {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.description {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}


form{
  margin: 0 auto !important;
}
