<app-navbar></app-navbar>
<section [@fadeIn]>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Stubborn Attachments</h3>
      <h5>$20.00</h5>
    </div>
  </div>
  <form>

    <button type="submit" (click)="go()" id="checkout-button" class="btn btn-info" [disabled]="loading">
      <input type="hidden" name="lookup_key" value="lookupkey" />
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span role="status">{{ loading ? ' Loading...' : 'Checkout' }}</span>
    </button>
  </form>



</section>



