@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: black;
}


form {
  border-radius: 10px;
  max-width: 900px;
  min-width: 100px;
  width: 100%;
  padding: 2vh 4vw;
}


td, th {
  text-align: center;
}

body {
  background-color: #656565 !important;

}


html, body { height: 100%; }

